.loader {
    margin-left: 50px;
    border: 5px solid gray;
    border-radius: 50%;
    border-top: 5px solid darkgray;
    width: 30px;
    height: 30px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}