.App {
    --header_height: 60px;

}

.hw {
    border: 1px solid #D9D9D9;
    padding: 30px 70px;
}

.hwTitle {
    margin-top: 130px;
    margin-left: 70px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}